# vscode
.vscode

# pycharm
.idea

# kdevelop
.kdev4
metapi.kdev4

# test
example/basic_test/data/01.trimmed
example/basic_test/data/02.assembly
example/basic_test/data/03.alignment
example/basic_test/data/04.binning
example/basic_test/data/05.checkm
example/basic_test/data/logs



# snakemake
.snakemake

metapi/__pycache__/

# pipenv
build/
dist/
metapi.egg-info/

conda/*.gz

notebooks/

test/
