include metapi/rules/alignment.smk
include metapi/rules/annotation.smk
include metapi/rules/assembly.smk
include metapi/rules/binning.smk
include metapi/rules/burst.smk
include metapi/rules/checkm.smk
include metapi/rules/classification.smk
include metapi/rules/coassembly.smk
include metapi/rules/cobinning.smk
include metapi/rules/dereplication.smk
include metapi/rules/fastqc.smk
include metapi/rules/metaquast.smk
include metapi/rules/prediction.smk
include metapi/rules/porfilling.smk
include metapi/rules/rmhost.smk
include metapi/rules/simulation.smk
include metapi/rules/step.smk
include metapi/rules/trimming.smk
include metapi/__init__.py
include metapi/metacheck.py
include metapi/metacluster.yaml
include metapi/metaconfig.py
include metapi/metaconfig.yaml
include metapi/metapi.py
include metapi/metareport.py
include metapi/metasample.py
include metapi/Snakefile